
/* DEFAULTS */
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 14px;
  margin: 0;
}

h6 {
  font-size: 16px;
  margin: 0 0 10px 0;
  opacity: 0.5;
  text-transform: uppercase;
}

ol.refs {
  font-size: 10px;
  margin: 0;
  padding-left: 15px;
}

#head,
#more,
#services,
#biomarkers,
#indices,
#research,
#news,
#career,
#about,
#contact {
  padding: 70px 0 70px 0;
}

#head, {
  background: #4485E6;
  color: #FFF;
}



/*******************************************************************************
*** HEAD                                                                     ***
*******************************************************************************/

#head {
  background-image: url("img/head2.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  color: #FFF;
  padding-top: 90px;
  padding-bottom:170px;
}

h1 {
  font-size: 30px;
}

.h1-title-sub {
  font-size: 22px;
  float: right;
}

/*******************************************************************************
*** MORE                                                                  ***
*******************************************************************************/

/*******************************************************************************
*** SERVICE                                                                  ***
*******************************************************************************/
#services {
  background: #414A9A;
    color: #FFF;
    padding-top: 100px;
  	padding-bottom:155px;
}

#services ul {
  font-size: 14px;
  margin: 0 0 10px 0;
  opacity: 1.0;
  text-transform: uppercase;
}

#services ul li {
  /*display: block;*/
}

/*******************************************************************************
*** BIOMARKERS                                                               ***
*******************************************************************************/

/*******************************************************************************
*** INDICES                                                               ***
*******************************************************************************/

/*******************************************************************************
*** RESEARCH                                                               ***
*******************************************************************************/
.nav3 {
    height: auto;
    width: auto;
    float: center;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-top: 40px;
    padding-right: 40px;
}

.icons{
    display:inline-block;
    width: 64px; 
    height: 64px; 
   }

 a.icons:hover {
     background: #C93;
 }
 
/*******************************************************************************
*** NEWS                                                               ***
*******************************************************************************/

/*******************************************************************************
*** CAREER                                                               ***
*******************************************************************************/
#career {
  background: #414A9A;
    color: #FFF;
}
/*******************************************************************************
*** ABOUT                                                                    ***
*******************************************************************************/

#about h2 {
  font-style: italic;
}

.person {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 20px;
  overflow: auto;
}

.person img {
  height: 60px;
  width: 60px;
}

.person img,
.person .profile {
  display: block;
  float: left;
}

.person .profile {
  margin: 8px 0 0 15px;
}

.person .profile .name {
  font-weight: bold;
}

.person .profile .position {
  font-style: italic;
}

.person .profile .bg {
  display: none;
}


/*******************************************************************************
*** CONTACT                                                                  ***
*******************************************************************************/
#contact {
  background: #414A9A;
    color: #FFF;
}

#contact h6 {
  opacity: 0.7;
}

#contact address {
  margin-bottom: 10px;
}

#contact ul {
  padding: 0;
}

#contact ul li {
  display: block;
}

#contact ul li a{
  color: #FFF;
}
